<div class="w-full h-[30%] pt-4">
    <app-card-dashboard></app-card-dashboard>
</div>
<div class="w-full h-[70%]">
    <div class="w-full flex justify-between px-5 items-center">
        <h1 class="font-bold">Latest Video</h1>
        <p class="text-xs">View All</p>
    </div>
    <div class="w-full h-[90%] py-4">
        <div class="w-full flex items-center py-3">
            <div class="w-[7%] px-2">
                <img class="w-auto rounded-lg" src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
            </div>
            <div class="w-[53%] px-2">
                <h1 class="text-lg font-bold">Vlog Mountain</h1>
                <p class="truncate text-sm font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et nostrum a ipsam quibusdam obcaecati quasi, temporibus consequatur libero facere tempora sed repellat blanditiis earum dicta tenetur exercitationem deserunt. Temporibus?</p>
            </div>
            <div class="w-[25%] px-2 flex justify-between">
                <div class="flex items-center">
                    <img class="w-6" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">100</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6 rotate-180" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">13</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6" src="../../../assets/icon-comment.png" />
                    <p class="text-sm ml-1">73</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-5" src="../../../assets/icon-eye.png" />
                    <p class="text-sm ml-1.5">126</p>
                </div>
            </div>
            <div class="w-[5%]"></div>
            <div class="w-[10%] flex justify-center">
                <button class="text-sm">Detail Video</button>
            </div>
        </div>
        <hr />
        <div class="w-full flex items-center py-3">
            <div class="w-[7%] px-2">
                <img class="w-auto rounded-lg" src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
            </div>
            <div class="w-[53%] px-2">
                <h1 class="text-lg font-bold">Vlog Mountain</h1>
                <p class="truncate text-sm font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et nostrum a ipsam quibusdam obcaecati quasi, temporibus consequatur libero facere tempora sed repellat blanditiis earum dicta tenetur exercitationem deserunt. Temporibus?</p>
            </div>
            <div class="w-[25%] px-2 flex justify-between">
                <div class="flex items-center">
                    <img class="w-6" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">100</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6 rotate-180" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">13</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6" src="../../../assets/icon-comment.png" />
                    <p class="text-sm ml-1">73</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-5" src="../../../assets/icon-eye.png" />
                    <p class="text-sm ml-1.5">126</p>
                </div>
            </div>
            <div class="w-[5%]"></div>
            <div class="w-[10%] flex justify-center">
                <button class="text-sm">Detail Video</button>
            </div>
        </div>
        <hr />
        <div class="w-full flex items-center py-3">
            <div class="w-[7%] px-2">
                <img class="w-auto rounded-lg" src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
            </div>
            <div class="w-[53%] px-2">
                <h1 class="text-lg font-bold">Vlog Mountain</h1>
                <p class="truncate text-sm font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et nostrum a ipsam quibusdam obcaecati quasi, temporibus consequatur libero facere tempora sed repellat blanditiis earum dicta tenetur exercitationem deserunt. Temporibus?</p>
            </div>
            <div class="w-[25%] px-2 flex justify-between">
                <div class="flex items-center">
                    <img class="w-6" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">100</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6 rotate-180" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">13</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6" src="../../../assets/icon-comment.png" />
                    <p class="text-sm ml-1">73</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-5" src="../../../assets/icon-eye.png" />
                    <p class="text-sm ml-1.5">126</p>
                </div>
            </div>
            <div class="w-[5%]"></div>
            <div class="w-[10%] flex justify-center">
                <button class="text-sm">Detail Video</button>
            </div>
        </div>
        <hr />
        <div class="w-full flex items-center py-3">
            <div class="w-[7%] px-2">
                <img class="w-auto rounded-lg" src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
            </div>
            <div class="w-[53%] px-2">
                <h1 class="text-lg font-bold">Vlog Mountain</h1>
                <p class="truncate text-sm font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et nostrum a ipsam quibusdam obcaecati quasi, temporibus consequatur libero facere tempora sed repellat blanditiis earum dicta tenetur exercitationem deserunt. Temporibus?</p>
            </div>
            <div class="w-[25%] px-2 flex justify-between">
                <div class="flex items-center">
                    <img class="w-6" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">100</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6 rotate-180" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">13</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6" src="../../../assets/icon-comment.png" />
                    <p class="text-sm ml-1">73</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-5" src="../../../assets/icon-eye.png" />
                    <p class="text-sm ml-1.5">126</p>
                </div>
            </div>
            <div class="w-[5%]"></div>
            <div class="w-[10%] flex justify-center">
                <button class="text-sm">Detail Video</button>
            </div>
        </div>
        <hr />
        <div class="w-full flex items-center py-3">
            <div class="w-[7%] px-2">
                <img class="w-auto rounded-lg" src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
            </div>
            <div class="w-[53%] px-2">
                <h1 class="text-lg font-bold">Vlog Mountain</h1>
                <p class="truncate text-sm font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat et nostrum a ipsam quibusdam obcaecati quasi, temporibus consequatur libero facere tempora sed repellat blanditiis earum dicta tenetur exercitationem deserunt. Temporibus?</p>
            </div>
            <div class="w-[25%] px-2 flex justify-between">
                <div class="flex items-center">
                    <img class="w-6" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">100</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6 rotate-180" src="../../../assets/icon-like.png" />
                    <p class="text-sm ml-1">13</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-6" src="../../../assets/icon-comment.png" />
                    <p class="text-sm ml-1">73</p>
                </div>
                <div class="flex items-center ml-2">
                    <img class="w-5" src="../../../assets/icon-eye.png" />
                    <p class="text-sm ml-1.5">126</p>
                </div>
            </div>
            <div class="w-[5%]"></div>
            <div class="w-[10%] flex justify-center">
                <button class="text-sm">Detail Video</button>
            </div>
        </div>
        <hr />
    </div>
</div>