<div class="w-full h-screen">
    <div class="w-full h-[10%] flex justify-center items-center">
        <img class="w-auto h-auto" src="../../../assets/logo.png" />
    </div>
    <div class="w-full h-[65%]">
        <ul class="pt-10">
            <li class="px-6 py-2">
                <div class="w-full bg-black px-3 py-3 rounded-lg flex items-center">
                    <img class="w-5 mr-2" src="../../../assets/icon-dashboard.png" />
                    <h1 class="text-white text-sm">Dashboard</h1>
                </div>
            </li>
            <li class="px-6">
                <div class="w-full px-3 py-2 rounded-lg flex items-center">
                    <img class="w-5 mr-2" src="../../../assets/icon-play.png" />
                    <h1 class="text-grey text-sm">Videos</h1>
                </div>
            </li>
            <li class="px-6">
                <div class="w-full px-3 py-2 rounded-lg flex items-center">
                    <img class="w-5 mr-2" src="../../../assets/icon-people.png" />
                    <h1 class="text-grey text-sm">Subsribers</h1>
                </div>
            </li>
        </ul>
    </div>
    <div class="w-full h-1/4">
        <div class="flex justify-center w-full">
            <img class="h-20 w-20 rounded-full border-black border-2 p-[2px]" src="https://images.unsplash.com/photo-1534184241306-2d7eb0ddbbde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
        </div>
        <h1 class="text-lg pt-2 text-center font-bold text-black">Michel Ryuk</h1>
        <p class="text-xs text-center">michelryuk99@gmail.com</p>
        <div class="flex justify-center mt-2">
            <img class="w-8 h-8 border mx-1 p-2 border-black rounded" src="../../../assets/icon-setting.png" alt="setting-icon" />
            <img class="w-8 h-8 border mx-1 p-2 border-black rounded" src="../../../assets/icon-signout.png" alt="signout-icon" />
        </div>
    </div>
</div>