<div class="w-full flex justify-between">
    <div class="w-1/3 mx-5 bg-orange-secondary p-4 rounded-lg">
        <div class="flex justify-between items-center">
            <div>
                <p class="text-xs">Subscription</p>
                <h1 class="text-2xl font-bold mt-1">20.000 <span class="text-sm">Subscriber</span></h1>
            </div>
            <div class="flex">
                <img class="w-10 rounded-full border-orange-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-orange-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-orange-secondary border-4" src="https://images.unsplash.com/photo-1520451644838-906a72aa7c86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80" />
            </div>
        </div>
        <div class="flex">
            <div class="w-[60%] h-20 mt-2 flex rotate-180">
                <div class="w-[10%] h-[40%] bg-[#ffbe5b] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[60%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-[#ffbe5b] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[30%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[50%] bg-[#ffbe5b] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[20%] bg-[#ffbe5b] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[80%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[55%] bg-[#ffbe5b] mr-2 rounded-sm">
                </div>
            </div>
            <div class="w-[40%] flex items-end justify-center">
                <p class="text-xs font-semibold"><span class="text-green-500">+</span> 102 <span class="font-normal">Subscriber</span></p>
            </div>
        </div>
    </div>
    <div class="w-1/3 mx-5  bg-pink-secondary p-4 rounded-lg">
        <div class="flex justify-between items-center">
            <div>
                <p class="text-xs">Likes</p>
                <h1 class="text-2xl font-bold mt-1">1000 <span class="text-sm">Likes</span></h1>
            </div>
            <div class="flex">
                <img class="w-10 rounded-full border-pink-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-pink-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-pink-secondary border-4" src="https://images.unsplash.com/photo-1520451644838-906a72aa7c86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80" />
            </div>
        </div>
        <div class="flex">
            <div class="w-[60%] h-20 mt-2 flex rotate-180">
                <div class="w-[10%] h-[40%] bg-[#ff747c] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[60%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-[#ff747c] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[30%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[50%] bg-[#ff747c] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[20%] bg-[#ff747c] mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[80%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[55%] bg-[#ff747c] mr-2 rounded-sm">
                </div>
            </div>
            <div class="w-[40%] flex items-end justify-center">
                <p class="text-xs font-semibold"><span class="text-green-500">+</span> 84 <span class="font-normal">Likes</span></p>
            </div>
        </div>
    </div>
    <div class="w-1/3 mx-5  bg-green-secondary p-4 rounded-lg">
        <div class="flex justify-between items-center">
            <div>
                <p class="text-xs">Showtimes</p>
                <h1 class="text-2xl font-bold mt-1">10H 30M <span class="text-sm">Showtimes</span></h1>
            </div>
            <div class="flex">
                <img class="w-10 rounded-full border-green-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1524117074681-31bd4de22ad3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-green-secondary border-4 -mr-3" src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                <img class="w-10 rounded-full border-green-secondary border-4" src="https://images.unsplash.com/photo-1520451644838-906a72aa7c86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80" />
            </div>
        </div>
        <div class="flex">
            <div class="w-[60%] h-20 mt-2 flex rotate-180">
                <div class="w-[10%] h-[40%] bg-lime-500 mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[60%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-lime-500 mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[30%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[50%] bg-lime-500 mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[70%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[20%] bg-lime-500 mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[80%] bg-black mr-2 rounded-sm">
                </div>
                <div class="w-[10%] h-[55%] bg-lime-500 mr-2 rounded-sm">
                </div>
            </div>
            <div class="w-[40%] flex items-end justify-center">
                <p class="text-xs font-semibold"><span class="text-green-500">+</span> 2 <span class="font-normal">Hours</span></p>
            </div>
        </div>
    </div>
</div>